<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BBB Status</title>
</head>
<body>
<section class="section">
    <div class="columns">
        <div class="column is-one-quarter">
            <h1 class="title">
                BBB Status
            </h1>
        </div>
        <div class="column">
            <button class="button is-danger" onclick="this.parentElement.getElementsByClassName('modal')[0].classList.add('is-active')">{{ language.report }}</button>
            <div class="modal">
                <div class="modal-background" style="background-color: white"></div>
                <div class="modal-content">
                    <form method="post">
                        <div class="field">
                            <label class="label">Server</label>
                            <div class="control">
                                <div class="select">
                                    <select name="server">
                                        <option value="none">{{ language.chooseAServer }}</option>
                                        {% for server in servers %}
                                            <option>{{ server }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ language.issue }}</label>
                            <div class="control">
                                <textarea name="error" class="textarea" placeholder="Textarea"></textarea>
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link" type="submit">{{ language.submit }}</button>
                            </div>
                            <div class="control">
                                <button class="button is-link is-light" type="button" onclick="this.parentElement.parentElement.parentElement.parentElement.parentElement.classList.remove('is-active')">{{ language.cancel }}</button>
                            </div>
                        </div>
                        <button class="modal-close is-large">{{ language.cancel }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% for alert in alerts %}
        <div class="notification is-warning">
            <p>{{ alert }}</p>
        </div>
    {% endfor %}
    {% for issue in issues %}
        <div class="notification is-danger">
            <b>{{ issue.time }}:</b><br>
            <p>{{ issue.status }}</p>
        </div>
    {% endfor %}
    <div class="columns has-text-centered">
        <div class="column">
            <h1 class="identifier">Server</h1>
            <h3 class="stat">{{ serverCount }}</h3>
        </div>
        <div class="column">
            <h1 class="identifier">Meetings</h1>
            <h3 class="stat">{{ meetings }}</h3>
        </div>
        <div class="column">
            <h1 class="identifier">User</h1>
            <h3 class="stat">{{ users }}</h3>
        </div>
        <div class="column">
            <h1 class="identifier">CPU</h1>
            <h3 class="stat">{{ cpu }}%</h3>
        </div>

    </div>
</section>
</body>
<style>
    .title {
        font-size: 4rem;
    }
    .identifier {
        font-size: 3rem;
    }
    .stat {
        font-size: 10rem;
    }
    .container {
        margin-bottom: 5rem;
    }
    .notification {
        margin: 2rem;
    }
</style>
<script>
window.socket = new WebSocket(((window.location.protocol === "https:") ? "wss://" : "ws://") + window.location.host + "/websocket");
window.socket.onmessage = (event) => {
    if (!document.getElementsByClassName("modal")[0].classList.contains("is-active")) {
        window.location = window.location.href;
    }
}
</script>
</html>
